---
layout: page
---

<!-- about.html -->
      <div class="post">
        <article>
          {% if page.profiles %}
          <div class="profiles-container">
            {% for profile in page.profiles %}
            <div class="profile">
              {% if profile.image %}
                {% assign profile_image_path = profile.image | prepend: 'assets/img/' %}
      
                {% if profile.image_circular %}
                  {% assign profile_image_class = "img-fluid z-depth-1 rounded-circle" %}
                {% else %}
                  {% assign profile_image_class = "img-fluid z-depth-1 rounded" %}
                {% endif %}
      
                {% include figure.html
                path=profile_image_path
                class=profile_image_class
                alt=profile.image %}
              {% endif %}
              {% if profile.more_info %}
              <div class="more-info">
                {{ profile.more_info }}
              </div>
              {% endif %}
            </div>
            {% endfor %}
          </div>
          {% endif %}
          {{ content }}
        </article>
            

</div>

<style>
.profiles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.profile {
  flex: 0 1 calc(25% - 20px); /* Adjust the 20px based on desired margins */
  margin: 10px;
  text-align: center;
}

.profile img {
  width: 150px; /* 固定宽度 */
  height: 150px; /* 固定高度 */
  border-radius: 50%; /* 裁剪为圆形 */
  object-fit: cover; /* 确保图片填满圆形 */
}

.more-info {
  margin-top: 5px;
}

.more-info .name {
  font-size: 18px;
  font-weight: bold;
}

.more-info .institution {
  font-size: 16px;
  font-style: italic;
}
</style>
